/**************************************************************************************************
 * GRID
 *************************************************************************************************/
.lnG *, .lnG *:after, .lnG *:before{box-sizing:border-box;}
.lnG:after{content:""; display:table; clear:both;}

.lnG .lnG-first{clear:left;}
.lnG .lnG-last{clear:right;}

.lnG-tc-6{margin-left:-3px; margin-right:-3px;}
.lnG-tc-12{margin-left:-6px; margin-right:-6px;}
.lnG-tc-24{margin-left:-12px; margin-right:-12px;}
.lnG-tc-48{margin-left:-24px; margin-right:-24px;}

.lnG-tc-6 .lnG-tile{padding-left:3px; padding-right:3px;}
.lnG-tc-12 .lnG-tile{padding-left:6px; padding-right:6px;}
.lnG-tc-24 .lnG-tile{padding-left:12px; padding-right:12px;}
.lnG-tc-48 .lnG-tile{padding-left:24px; padding-right:24px;}

.lnG *[class*='lnG-col']{float:left; position:relative;}
.lnG *[class*='lnG-col-']{min-height: 1px;}

.lnG-col-1{width:8.33333333%;}
.lnG-col-2{width:16.66666667%;}
.lnG-col-3{width:25%;}
.lnG-col-4{width:33.33333333%;}
.lnG-col-5{width:41.66666667%;}
.lnG-col-6{width:50%;}
.lnG-col-7{width:58.33333333%;}
.lnG-col-8{width:66.66666667%;}
.lnG-col-9{width:75%;}
.lnG-col-10{width:83.33333333%;}
.lnG-col-11{width:91.66666667%;}
.lnG-col-12{width:100%;}

.lnG-off-1{margin-left:8.33333333%;}
.lnG-off-2{margin-left:16.66666667%;}
.lnG-off-3{margin-left:25%;}
.lnG-off-4{margin-left:33.33333333%;}
.lnG-off-5{margin-left:41.66666667%;}
.lnG-off-6{margin-left:50%;}
.lnG-off-7{margin-left:58.33333333%;}
.lnG-off-8{margin-left:66.66666667%;}
.lnG-off-9{margin-left:75%;}
.lnG-off-10{margin-left:83.33333333%;}
.lnG-off-11{margin-left:91.66666667%;}

.lnG *[class*='lnG-abs-']{position:absolute;}
.lnG .lnG-abs-1{margin-left:0;}
.lnG .lnG-abs-2{margin-left:8.33333333%;}
.lnG .lnG-abs-3{margin-left:16.66666667%;}
.lnG .lnG-abs-4{margin-left:25%;}
.lnG .lnG-abs-5{margin-left:33.33333333%;}
.lnG .lnG-abs-6{margin-left:41.66666667%;}
.lnG .lnG-abs-7{margin-left:50%;}
.lnG .lnG-abs-8{margin-left:58.33333333%;}
.lnG .lnG-abs-9{margin-left:66.66666667%;}
.lnG .lnG-abs-10{margin-left:75%;}
.lnG .lnG-abs-11{margin-left:83.33333333%;}
.lnG .lnG-abs-12{margin-left:91.66666667%;}


/**************************************************************************************************
 * BOXES
 *************************************************************************************************/
.lnB{box-sizing:border-box;}
.lnB-rel{position:relative;}

.lnB-float-left{float:left;}
.lnB-float-right{float:right;}

.lnB-display-none{display:none;}
.lnB-display-block{display:block;}
.lnB-table{display:table;}
.lnB-table-cell{display:table-cell;}
.lnB-table-cell-min{width:1%; white-space:nowrap;}
.lnB-table-cell-max{width:100%;}
.lnB-ib{display:inline-block;}

.lnB-va-middle{vertical-align:middle;}
.lnB-va-top{vertical-align:top;}

.lnB-bg-grey-light{
  background-color:#f4f4f4;
}

.lnB-ma{margin:auto;}
.lnB-m0{margin:0px;}
.lnB-m3{margin:3px;}
.lnB-m6{margin:6px;}
.lnB-m12{margin:12px;}
.lnB-m24{margin:24px;}
.lnB-m48{margin:48px;}

.lnB-mt0{margin-top:0px;}
.lnB-mt3{margin-top:3px;}
.lnB-mt6{margin-top:6px;}
.lnB-mt12{margin-top:12px;}
.lnB-mt24{margin-top:24px;}
.lnB-mt48{margin-top:48px;}

.lnB-mb0{margin-bottom:0px;}
.lnB-mb3{margin-bottom:3px;}
.lnB-mb6{margin-bottom:6px;}
.lnB-mb12{margin-bottom:12px;}
.lnB-mb24{margin-bottom:24px;}
.lnB-mb30{margin-bottom:30px;}
.lnB-mb48{margin-bottom:48px;}

.lnB-p0{padding:0;}
.lnB-p1{padding:1px;}
.lnB-p2{padding:2px;}
.lnB-p3{padding:3px;}
.lnB-p6{padding:6px;}
.lnB-p12{padding:12px;}
.lnB-p24{padding:24px;}
.lnB-p48{padding:48px;}

.lnB-pt0{padding-top:0px;}
.lnB-pt3{padding-top:3px;}
.lnB-pt6{padding-top:6px;}
.lnB-pt12{padding-top:12px;}
.lnB-pt24{padding-top:24px;}
.lnB-pt48{padding-top:48px;}

.lnB-pr0{padding-right:0px;}
.lnB-pr3{padding-right:3px;}
.lnB-pr6{padding-right:6px;}
.lnB-pr12{padding-right:12px;}
.lnB-pr24{padding-right:24px;}
.lnB-pr48{padding-right:48px;}

.lnB-pb0{padding-bottom:0px;}
.lnB-pb3{padding-bottom:3px;}
.lnB-pb6{padding-bottom:6px;}
.lnB-pb12{padding-bottom:12px;}
.lnB-pb24{padding-bottom:24px;}
.lnB-pb48{padding-bottom:48px;}

.lnB-pl0{padding-left:0px}
.lnB-pl3{padding-left:3px}
.lnB-pl6{padding-left:6px}
.lnB-pl12{padding-left:12px}
.lnB-pl24{padding-left:24px}
.lnB-pl48{padding-left:48px}

.lnB-b1{border:1px solid #CFCFCF;}
.lnB-bt1{border-top:1px solid #CFCFCF;}
.lnB-bb1{border-bottom:1px solid #CFCFCF;}
.lnB-br1{border-right:1px solid #CFCFCF;}
.lnB-bl1{border-left:1px solid #CFCFCF;}

.lnB-b1-active{border:1px solid #333333;}

.lnB-abs{position:absolute;}
.lnB-front{z-index:10;}
.lnB-abs.lnB-top{top:0;}
.lnB-abs.lnB-left{left:0;}
.lnB-abs.lnB-right{right:0;}
.lnB-abs.lnB-bottom{bottom:0;}

.lnB-centered-container-wrapper{
  text-align:center;
  white-space:nowrap;
  height:100%;
}

.lnB-centered-container-wrapper:before{
  content:'';
  display:inline-block;
  height:100%;
  vertical-align:middle;
  margin-right:-0.25em;
}

.lnB-centered-container-wrapper .lnB-centered-container{
  display:inline-block;
  vertical-align:middle;
  white-space:normal;
  text-align:left;
}